.container__todo-item {
  list-style-type: none;
  background-color: #ebf5fb;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.container__edit-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container__buttons {
  display: flex;
}

.container__delete-button {
  padding: 8px;
  background: #e2424d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.container__save-button {
  background-color: #3e7c40;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}

.container__complete-button {
  background-color: #0fb5f7;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 15px;
}
